<h1>Create Account</h1>
    <p>Create an account to start logging your bug solutions.</p>

    <form method="post" action="/signup">
        <label>Username:</label>
            <input type="text" id="username" name="username">
        <label>Email:</label>
            <input type="text" id="email" name="email">
        <label>Password:</label>
            <input type="password" id="password" name="password">
        <input type="submit" value="Submit">
    </form>