<h1>Login</h1>
<p>Login to gain access to your account</p>

<form method="post" action="/login">
    <label>Username:</label>
        <input type="text" id="username" name="username">
    <label>Password:</label>
        <input type="password" id="password" name="password">
    <input type="submit" value="submit">
</form>