<h1>Enter New Bug</h1>

    <form method="post" action="/bugs">
        <p><label>Bug Name:</label></p>
            <p><input type="text"></p>
        <p><input type="submit" value="ADD"></p>
    </form>
