<h1>All Products</h1>

<div>
    <% @product.each do |product| %>
        <% if product.user_id == @user.id %>
        <p><a href="/products/<%= product.id%>"><%=product.name%>
        <% else %>
        <p><%=product.name%></a></p>
        <%end%>
    <%end%>
</div>

<div>
    <!--Add products here-->
    <a href="/products/new"><input type="submit" value="Add Products"></a>
</div>
