<div class="container">
  <div class="welcome">
    <img src="#" alt="#">
      <h1>Bug Solutions Products Tracker</h1>
  </div>
    <div class="in">
      <h3>Login</h3>
        <p>Login to create, read, edit or delete your bug solution products</p>
        <a href="/login"><input type="submit" value="Login"></a>
    </div>
    <div class="in">
      <h3>Signup</h3>
        <p>Don't have an account? Go ahead and signup!</p>
        <a href="/signup"><input type="submit" value="Sign Up"></a>
    </div>
</div>
